#contenedor{
    width: 600px;
    height: 400px;
    background-color: aqua;
}

div>p{
    text-align: center;
}

#imagen1{
    width: 20%;
    height: 30%;
    margin-left: 40%;
}
#imagen2{
    width: 20%;
    height: 30%;
    margin-left: 40%;
    padding-bottom: 10px;
}