<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="misnotas">
        <div id="cabecera">
            <h1>TODO WEB APP</h1>

            <label for="tarea">Crea tu nueva tarea </label>
            <input type="text" v-model="nombre" @keyup.enter="agregar" name="tarea">

            <label for="descripcion"> Descripción </label>
            <input type="text" v-model="descripcion" @keyup.enter="agregar" name="descripcion">

            <label for="prioridad">Prioridad</label>
            <select @keyup.enter="agregar" v-model="prioridad" name="prioridad" id="prioridad">
                <option value="1">1(Alta)</option>
                <option value="2">2(Media)</option>
                <option value="3">3(Baja)</option>

            </select>



            <button v-bind:disabled="prioridad == '' || nombre == '' || descripcion == '' " @click="agregar">Añadir
                tarea</button>

        </div>
        <!-- Div de notas -->
        <div id="notas" v-for="(tarea, index) in tareas">
            <ul>
                <li id="titulo" :class="{normal:!tarea.estado, completada:tarea.estado}" @click="cambiarEstado(index)">
                    {{tarea.nombre}}</li>
                <li :class="{normal:!tarea.estado, completada:tarea.estado}" @click="cambiarEstado(index)">
                    {{tarea.descripcion}}</li>
                <li :class="{normal:!tarea.estado, completada:tarea.estado}" @click="cambiarEstado(index)">
                    Prioridad: {{tarea.prioridad}}</li>
                <li :class="{normal:!tarea.estado, completada:tarea.estado}" @click="cambiarEstado(index)">
                    {{tarea.fecha}}</li>
                <div id="botonera">
                    <button @click="borrar(index)">Borrar</button>
                    <button @click="aumentarPrioridad(index)">Aumentar Prioridad</button>
                    <button @click="disminuirPrioridad(index)">Bajar Prioridad</button>

                </div>
                <hr>

            </ul>

        </div>

        <br>
        <div id="footer">
            <p>Tienes {{tareas.length}} tareas y {{finalizadas}} sin completar.</p>
            <br>
            <button @click="borrarCompletadas">Borrar tareas completadas</button>
            <button @click="mostrarCompletadas">Mostrar completadas</button>
            <button @click="mostrarNoCompletadas">Mostrar sin completar</button>
            <button @click="mostrarTodas">Mostrar toda las tareas</button>

        </div>


    </div>

</body>

</html>